@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap');

//Font families
$mainFont: 'Montserrat', sans-serif;

//Fonts
$thin: 300;
$regular: 400;
$bold: 700;
$black: 900;

//Colors
$Green: #4CB8B3;
$Pink: #F53756;
$Yellow: #FEF46D;
$Purple: #752F97;
$Black: #000;
$White: #FFF;

//Media Queries


//Separators